useDynLib(binsegRcpp, .registration=TRUE)
import(data.table)
importFrom("graphics", "lines", "points", "text")
importFrom(Rcpp, evalCpp)
export(binseg_normal)
export(get_complexity)
export(get_complexity_empirical)
export(get_complexity_extreme)
export(case.colors)
export(case.sizes)
S3method("print", "binseg_normal")
S3method("coef", "binseg_normal")
S3method("plot", "binseg_normal")
S3method("plot", "complexity")
