useDynLib(binsegRcpp, .registration=TRUE)
import(data.table)
importFrom("graphics", "lines", "points", "text")
importFrom(Rcpp, evalCpp)
export(cum_median)
export(binseg)
export(binseg_normal)
export(depth_first_interface)
export(get_distribution_info)
export(get_complexity)
export(get_complexity_worst)
export(get_complexity_empirical)
export(get_complexity_extreme)
export(get_complexity_best_heuristic_equal_depth_full)
export(get_complexity_best_heuristic_equal_breadth_full)
export(get_complexity_best_optimal_tree)
export(get_complexity_best_optimal_cost)
export(get_tree_empirical)
export(tree_layout)
export(case.colors)
export(case.sizes)
export(size_to_splits)
export(random_set_vec)
export(binseg_normal_cv)
S3method("print", "binsegRcpp")
S3method("print", "binseg_normal_cv")
S3method("coef", "binsegRcpp")
S3method("coef", "binseg_normal_cv")
S3method("plot", "binsegRcpp")
S3method("plot", "binseg_normal_cv")
S3method("plot", "complexity")
