useDynLib(binsegRcpp, .registration=TRUE)
import(data.table)
importFrom("graphics", "lines", "points", "text")
importFrom(Rcpp, evalCpp)
export(binseg)
export(binseg_normal)
export(get_distribution_names)
export(get_complexity)
export(get_complexity_empirical)
export(get_complexity_extreme)
export(case.colors)
export(case.sizes)
export(random_set_vec)
export(binseg_normal_cv)
S3method("print", "binsegRcpp")
S3method("print", "binseg_normal_cv")
S3method("coef", "binsegRcpp")
S3method("coef", "binseg_normal_cv")
S3method("plot", "binsegRcpp")
S3method("plot", "binseg_normal_cv")
S3method("plot", "complexity")
